@page "/User-Details"
@{
    ViewData["Title"] = "User Details Page";
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Details</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    />
    <style>
      /* Set the primary color to light blue */
      :root {
        --primary-color: #87CEFA;
      }
      /* Set the user's name on top right */
      .user-name {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
      }
      /* Style the buttons on the bottom right */
      .action-buttons {
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
      /* Style the form */
      form {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 20px;
      }
      /* Style the submit button */
      button[type="submit"] {
        background-color: var(--primary-color);
        border: none;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">My App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle user-name"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              John Doe
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Account details</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container my-5">
      <h1 class="text-center">Account Details</h1>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              placeholder="First Name"
              value="John"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Last Name"
              value="Doe"
            />
          </div>
        </div>
        <div class
                 class="form-row">
                <div class="form-group col-md-6">
                    <label for="cnp">CNP</label>
                    <input type="text"
                           class="form-control"
                           id="cnp"
                           placeholder="CNP"
                           value="1234567890123" />
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone Number</label>
                    <input type="text"
                           class="form-control"
                           id="phone"
                           placeholder="Phone Number"
                           value="123-456-7890" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger ml-2">Dispose</button>
                </div>
            </div>
        </form>
    </div>
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>