@model IEnumerable<BankingApp.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}




<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">

	<title>Your Transactions</title>

	<style>
		:root {
			--primary-color: #007bff; /* light blue */
			--secondary-color: #6c757d; /* gray */
			--table-bg-color: #f8f9fa; /* light gray */
			--table-border-color: #e9ecef; /* light gray */
		}
		h1, h2, h3, h4, h5, h6 {
			color: var(--primary-color);
		}

		table {
			background-color: var(--table-bg-color);
			border: 1px solid var(--table-border-color);
		}

		th, td {
			border: 1px solid var(--table-border-color);
		}

		tr:nth-child(even) {
			background-color: #fff;
		}

		tr:hover {
			background-color: var(--table-bg-color);
		}
	</style>
</head>

<body>
	<div class="container mt-4">
		<h1>Your Transactions</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Transaction Type</th>
					<th>Sender</th>
					<th>Receiver</th>
					<th>Amount</th>
					<th>Currency</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>May 1, 2023</td>
					<td>Transfer</td>
					<td>LLC0-1111-2222-3333</td>
					<td>LLC0-1234-5678-9101</td>
					<td>1000.00</td>
					<td>RON</td>
				</tr>
				<tr>
					<td>May 3, 2023</td>
					<td>Withdrawal</td>
					<td></td>
					<td></td>
					<td>500.00</td>
					<td>USD</td>
				</tr>
				<tr>
					<td>May 4, 2023</td>
					<td>Deposit</td>
					<td></td>
					<td>LLC0-1111-2222-3333</td>
					<td>2000.00</td>
					<td>RON</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>